body{
	font-family:Tahoma;
}

ul{
	list-style:none;
}

ul label{
	width:100px;
	float:left;
}

h1 {
	margin-left: 10%;
	margin-right: 10%;
}

h2 {
	margin-left: 10%;
	margin-right: 10%;
}

td {
	width: 15%;
}

#frmCadastro{
	border:solid 1px;
	margin-left: 10%;
	margin-right: 10%;
}

#tblListar{
	width:80%;
	border:solid 1px;
	text-align:center;
	margin-left: 10%;
	margin-right: 10%;
}

#tblListar tbody tr{
	border:solid 1px;
	height:30px;
}

#tblListar thead{
	background:beige;
}

#volta {
	float: right;
	margin-right: 30%;
}

body {font-family: Arial, Helvetica, sans-serif;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.fechar {
    color: rgb(0, 0, 0);
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.fechar:hover,
.fechar:focus {
    color: rgb(66, 66, 66);
    text-decoration: none;
    cursor: pointer;
}

body {font-family: Arial, Helvetica, sans-serif;}

.window{
    display:none;
    width:300px;
    height:300px;
    position:absolute;
    left:0;
    top:0;
    background:#FFF;
    z-index:9900;
    padding:10px;
    border-radius:10px;
}
 
#mascara{
    display:none;
    position:absolute;
    left:0;
    top:0;
    z-index:9000;
    background-color:rgb(66, 66, 66);
}
 