body{
    font-family:Tahoma;
    /* background-size: 100%; */
    background-image: url("https://i.imgur.com/QU5aWln.jpg");
    padding: 5em;
}

ul{
	list-style:none;
}

ul label{
	width:100px;
	float:left;
}

/* h1 {
    text-align: center;
}

h2 {
	text-align: center;
} */

td {
	width: 15%;
}

#frmEditar{
	/* Apenas para centralizar o form na página */
    margin: 0 auto;
    width: 90%;
    /* Para ver as bordas do formulário */
    padding: 1em 1em 1em 10em;
    border: 1px solid #CCC;
    border-radius: 1em;
    background-color: rgba(119, 118, 175, 0.9);
}

#tabela{
	/* Apenas para centralizar o form na página */
    margin: 0 auto;
    width: 80%;
    /* Para ver as bordas do formulário */
    padding: 1em 1em 1em 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
    background-color: rgba(119, 118, 175, 0.9);
}

.header{
    padding-left: 10%;
}
.header h2 {
    font-style: italic;
}

form div + div {
    margin-top: 1em;
}



#tblListar{
	width:80%;
	border:solid 1px;
	text-align:center;
	margin-left: 10%;
    margin-right: 10%;
    background:beige;
    border-radius: 6px;
}
#tblListar tbody tr{
	border:solid 1px;
	height:30px;
}

/* #tblListar thead{ */
	


#back {
	float: right;
	margin-right: 10%;
}

body {font-family: Arial, Helvetica, sans-serif;}

/* The Modal (background) */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(49, 13, 13, 0.637); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: hsla(0, 0%, 0%, 0.9);
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.3s;
    animation-name: animatetop;
    animation-duration: 0.3s
}



/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.fechar {
    text-decoration:none;
    color: rgb(255, 255, 255);
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.fechar:hover, .fechar:focus {
    color: rgb(66, 66, 66);
    text-decoration: none;
    cursor: pointer;
}

.window{
    display:none;
    width: 60%;
    height:60%;
    position:absolute;
    left:0;
    top:0;
    background:rgb(94, 28, 28);
    z-index:9900;
    padding:10px;
    border-radius:10px;
}
/* .window > div {
} */
 
#mascara{
    display:none;
    position:absolute;
    left:0;
    top:0;
    z-index:9000;
    background-color:rgb(66, 66, 66);
}

.thumb {
     height: 300px;
     width: 200px;
}

label {
    font-weight: bolder;
    /*Para ter certeza que todas as labels tem o mesmo tamanho e estão propriamente alinhadas */
    display: inline-block;
    width: 130px;
    text-align: left;
    padding-top: 10px;
}


.botton {
    font: 1em sans-serif;
    padding:5px 15px 5px 15px;
    margin: 0 auto;
    display: inline-block;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-bottom: 1px solid rgba(0,0,0,0.25);
    position:relative;
    margin:10px;
    margin-right:30%;
	padding:20px 28px;
	border-radius:16px;
    width: 150px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #999;
    
}

input:focus {
    
    border-color: #000;
}

div #comunitasRow {
    padding: 0px 0px 2px 10px;
    box-shadow: -5px 5px 10px 1px black;
}

div .col-sm-8   {
    display: flex;
    padding: 5px;
    box-shadow: -5px 5px 10px 1px black;
}

::placeholder {
    color: rgb(250, 162, 135) !important;
    opacity: 3;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:  rgb(250, 162, 135) !important;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:  rgb(250, 162, 135) !important;
    opacity:  3;
 }
 
 #msg {
     height: 60px;
 }
 #grid-contatos tbody {
     cursor: pointer;
 }

#comunista {
    height: 300px;
    width: 48%;
    float: left;
}
#modalLeft {
    padding-top: 5px;
    height: 300px;
    width: 205px;
    padding-right: 10px; 
    float: left;
    width: 50%;
    text-align: right;
}

#facista {
    margin: 0px 0px 15px 10px;
    height: 300px;
    float: left;
    width: 200px;
    text-align: left;
}

div.window > #modalRight {
    float: left;
    height: 295px;
    text-align: left;
    width: 40%;
}
div.window h2, p {
    color: white;
}

#b64 {
    display: none;
}

#image-container {
    margin-left: 2px;

}

.button{
    padding:5px 15px 5px 15px;
    text-decoration: none;
    display: inline-block;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-bottom: 1px solid rgba(0,0,0,0.25);
    outline:none;
    position:relative;
    margin:10px;
    padding:20px 28px;
    white-space:nowrap;
    border-radius:16px;
    font-size:0px;
}
.button:hover{
    background-color: #777;
    cursor: pointer;
}

.button:active{
    top: 1px;
    left:1px;
}
